<div class="side-header">
    Spotify Mapper
    <img src="/icons/expand38.svg" alt="Expand" height="15px" class="expand-caret" {{action 'toggleContentVisible'}}>
</div>
{{#if contentVisible}}
    <div class="side-content">
        <img src="/icons/magnifier13.svg" alt="Search" height="15px">
      {{input value=artistName placeholder="The Clash" action="updateArtistID" on="enter"}}
    </div>
    {{#if selectedNode}}
        <hr class="side-divider">
        <div class="node-info">
            <h3>{{selectedNode.name}}</h3>
            <div class="genres">{{selectedNode.genres}}</div>
            <div class="search">
              <a href={{selectedNode.external_urls.spotify}} target="_blank"><img src="icons/spotify.png" height="30px" class="spotify-logo"></a>
              <img src="icons/youtube.png" height="50px" {{action "searchOnYoutube" selectedNode}}>
            </div>
        </div>
    {{/if}}
{{/if}}