<!--
<div class="side-header">
  <img id="logo" src="icons/bandmap.svg" height="30px">
  <span class="title">BandMap</span>
  <img src="/icons/expand38.svg" alt="Expand" height="25px" class="expand-caret" {{action 'toggleContentVisible'}}>
</div>
{{#if contentVisible}}
  <div class="side-content">
    <div class="search-bar">
      <img class="search-button" src="/icons/magnifier13.svg" alt="Search" height="23px">
      {{input class="search" value=artistName placeholder="Elvis Presley" enter="updateArtistID"}}
    </div>
  </div>
  {{#if selectedNode}}
    <hr class="side-divider">
    <div class="node-info clearfix">
      <h3>{{selectedNode.name}}</h3>
      {{#if selectedNode}}
        <img id="img-thumbnail" src="{{url}}" alt="{{selectedNode.name}}" width="200px">
      {{/if}}
      <div class="genres">{{selectedNode.genres}}</div>
      <br/>
      <br/>
      Listen on:
      <div class="search">
        <img id="search-yt" class="pull-right" src="icons/yt-icon.png"
             height="30px" {{action "searchOnYoutube" selectedNode}}>
        <a href={{selectedNode.external_urls.spotify}} target="_blank"><img src="icons/spotify-icon.png" height="30px"
                                                                            class="spotify-logo"></a>
      </div>
    </div>
  {{/if}}
{{/if}}
-->
<div class="ui fluid vertical menu">
  <div class="header item center">
      <img id="logo" src="icons/bandmap.svg" height="30px">
      <span class="title ui">BandMap</span>
  </div>
  <div class="item">
      <div class="ui icon input">
          {{input class="search" value=artistName placeholder="Elvis Presley" enter="updateArtistID"}}
          <i class="search icon"></i>
      </div>
  </div>
  {{#if selectedNode}}
    <div class="ui item">
      <h3>{{selectedNode.name}}</h3>
      <div class="ui image">
          <img class="ui image rounded bordered" src="{{url}}" alt="{{selectedNode.name}}">
          {{#each selectedNode.genres as |genre idx|}}
              <div class="ui ribbon label" style='bottom: {{idx-to-pos idx}}px; z-index: {{idx-to-zidx idx}}'>
                  <i class="tag icon"></i> {{capitalized-name genre}}
              </div>
          {{/each}}
      </div>
      <div class="ui container">

      </div>
    </div>
  {{/if}}
</div>