<div class="ui fluid vertical menu">
  <div class="header item center">
      <img id="logo" src="icons/bandmap.svg" height="30px">
      <span class="title ui">BandMap</span>
  </div>
  <div class="item">
      <div class="ui icon input">
          {{input class="search" value=artistName placeholder="Elvis Presley" enter="updateArtistID"}}
          <i class="search icon"></i>
      </div>
  </div>
  {{#if selectedNode}}
    <div class="ui item">
      <h3>{{selectedNode.name}}</h3>
      <div class="ui image">
          <img class="ui image rounded" src="{{url}}" alt="{{selectedNode.name}}">
          {{#each selectedNode.genres as |genre idx|}}
              <div class="ui ribbon label" style='bottom: {{idx-to-pos idx}}px; z-index: {{idx-to-zidx idx}}'>
                  <i class="tag icon"></i> {{capitalized-name genre}}
              </div>
          {{/each}}
      </div>
      <div class="ui horizontal divider">Listen On</div>
      <div class="ui">
        <img id="search-yt" class="pull-right" src="icons/yt-icon.png"
             height="30px" {{action "searchOnYoutube" selectedNode}}>
        <a href={{selectedNode.external_urls.spotify}} target="_blank">
            <img src="icons/spotify-icon.png" height="30px" class="spotify-logo">
        </a>
      </div>
    </div>
  {{/if}}
</div>