{{side-bar artistID=artistID selectedNode=selectedNode}}
{{d3-map artistID=artistID selectedNode=selectedNode showMagic=settings.showMagic}}
{{outlet 'modal'}}

<div class="top-right">
    <button class="ui grey circular icon button" {{action 'openModal' 'settings-modal' settings}}>
        <i class="configure icon"></i>
    </button>
    <button class="ui blue circular icon button" {{action 'openModal' 'help-modal'}}>
        <i class="help icon"></i>
    </button>
</div>

<div class="loading ui items">
    <div class="item text">
        <div class="ui image">
            <i class="spinner big loading icon"></i>
        </div>
        <div class="content">
            The magic is happening, hang tight!
        </div>
    </div>
</div>

<div class="infos">
    <p>Click on an artist to display more information</p>
    <p>Double click on an artist to re-center the map</p>
</div>

<div class="credits">
    <p>Created By <a href="https://github.com/TisButMe">Thomas Poinsot</a></p>
    <p>Made Prettier By <a href="https://github.com/ThibaultLatrille">Thibault Latrille</a></p>
</div>